@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #DC143C;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button:hover {background-color: #a80909}

.button:active {
background-color: #8a0707;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.hero {
  background-image: url(https://images.pexels.com/photos/1888009/pexels-photo-1888009.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -350px;

}

body {
  margin: 0;
}

.BulletlessList{
  list-style-type: none;
}


input[type="checkbox"]:checked + label{
  text-decoration: line-through;
}
  
.square{
  width: 100px;
  height: 100px;
  background-color: #E6C61F;
}

